.table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table-head {
    background-color: #0c2033;
  }
  
  .table-head tr th {
    padding: 10px 20px;
    color: #9cb3c9;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
  }
  
  .table-body {
    text-align: left;
    background-color:#4a6f91;

  }
  
  .table-body tr td {
    padding: 10px 0px;
    border-bottom: 2px solid #5e81a1;
    color: #fff;
    cursor: pointer;
  }
  
  .table-fullname {
    color: #9cb3c9;
    margin-right: 18px;
    font-size: 12px;
  }
  
  .table-id {
    color: #9cb3c9;
    margin-right: 6px;
  }
  .table-actions button{
    margin: 5px 0;
  }